<!--<footer>
  <nav>
    <ul>
      <li><a href="/register">Registro</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/profile">Mi perfil</a></li>
    </ul>
  </nav>
</footer>!-->

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />	
		<link rel="icon" href="./img/icon.jpg">
		<link rel="stylesheet" type="text/css" href="./css/estilos.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    
	  	<title> 46 Soles - Inicio</title>
    </head>

    <body>
        <div class="container">
            <header style="background-color: #23014d" >
                <center> <img src="../img/marca.png" width=300 heigth=280> </center>
            </header> 
            <div class="Menu row">
                <nav>
                    <ul>
                        <li><a href="/register">Registro</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/profile">Mi perfil</a></li>							
                    </ul>
                </nav>  
            <!--</div>
            <br>
            <br>
            <h1 class="animate__animated animate__fadeInTopLeft">Inicio</h1>
                <div class="contenedor_inicio">
                    <div class="contenedor_imagenes">
                        <div class="animate__animated animate__fadeInTopLeft img1">
                            <img src="./img/susanfoto/face.jpg" width="280px" height="180px">
                        </div>
                        <div class="animate__animated animate__fadeInTopRight img2">
                            <img src="./img/angiefoto/mariposa.jpg" width="280px" height="180px" >
                        </div>
                        <div class="animate__animated animate__fadeInBottomRight img3">
                            <img src="./img/irenefoto/abstracto.jpg" width="280px" height="180px">
                        </div>
                    </div>
                    <div class="contenedor_parrafo">	
                        <div class="animate__animated animate__fadeInRight p_inicio">
                            <p><b> 46 Soles </b>nació en el 2019 como el corolario de muchos años haciendo manualidades. Mis proyectos y trabajos finalizados fueron variados, pero los que más he disfrutado  en el proceso, son los que hoy comparto contigo.</p>
                            <p>Las Lineas Susan de Macetas, Irene de Cuadros y Angie de Colgantes no solo son diseños simples, son diseños agradables, equilibrados y poseen ese amor con el que fueron hechos.</p>
                            <p>Te invito a que recorras estas páginas recordando que 46 Soles es "Un espacio de ideas que se hicieron realidad..."</p> 
                        </div>
                    </div>
                </div>	
            <hr>
            <footer>
                <div class="Abajo row">
                <div class="redes">
                    <h6 class="text-center">Copyrigth - Todos los derechos reservados</h6>
                    <p class="text-center">Seguime en las redes</p>
                    <ul>
                        <li><a href="https://instagram.com">Instagram</a></li>
                        <li><a href="https://facebook.com">Facebook</a></li>
                        <li><a href="https://twitter.com">Twitter</a></li>
                    </ul>
                </div>
                </div>
            </footer>!-->
        </div>
    </body>
</html>
