<!--<h1>Registro</h1>
<form action="/register" method="post">
  <label for="nombre">Nombre</label>
  <input name="nombre" type="text" placeholder="nombre"><br>
  <label for="apellido">Apellido</label>
  <input name="apellido" type="text" placeholder="apellido"><br>
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="email"><br>
  <label for="password">Password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Registrarme!</button>
</form>!-->

<h1 class="animate__animated animate__fadeInTopLeft">Registro</h1>
			<hr>
			<div class="contenedor_contacto" id="formularioContacto">
				<form class="animate__animated animate__fadeInTopLeft form", action="/register" method="post">
					<label>Nombre :</label>
					<input type="text" id="nombre" placeholder="Escribe Tu Nombre" maxlength="40" size="50"/>
					<br>
					<br>
					<label>Apellido :</label>
					<input type="text" id="apellido" placeholder="Escribe Tu Apellido" maxlength="40" size="50"/>
					<br>
					<br>
					<label>Email :</label>
					<input type="email" id="email" placeholder="Escribe Tu Email" maxlength="40" size="50"/>
					<br>
          <br>
					<label>Password :</label>
					<input type="password" id="pass" placeholder="Escribe Tu Password" maxlength="40" size="50"/>
					<!--<br>
          <small id="mensaje"></small>
					<br>
					<br>
					<label>Desea Recibir Novedades?</label>
					<br>
					<br>
					<input type="checkbox" id="novedades"> 
					<br>
					<br>
					<textarea name="" cols="50" rows="10"> Comentarios</textarea>
					<br>
					<br>!-->
					<input type="submit" value="Registrarme" class="btn btn-success" href="/login"/>
					<!--<input type="button" value="Borrar" id="borrar_contacto" class="btn btn-danger"/>!-->
				</form>
        
			</div>